# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\beyond\frontend\svg-animations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
